@charset "UTF-8";
body {
  width: 900px;
  margin: 0 auto;
}

body header > h1 {
  font-size: 1.7rem;
  text-align: center;
  margin: 15px auto;
}

body h2 {
  font-size: 1.3rem;
}

body main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 10px 20px;
}

body main > #post-form-area {
  width: 100%;
}

body main > #post-form-area h2 {
  margin-top: 0;
}

body main > #post-form-area .form-group {
  margin: 10px 0;
}

body main > #post-form-area .form-group > label {
  min-width: 100px;
  display: block;
  float: left;
}

body main > #post-form-area .form-group > input {
  width: 200px;
  min-height: 2em;
}

body main > #post-form-area .form-group > textarea {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  width: 300px;
  height: 80px;
}

body main > #post-form-area .form-group > input,
body main > #post-form-area .form-group textarea {
  font-size: 0.95rem;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px 8px;
}

body main > #post-form-area .form-group > input:focus, body main > #post-form-area .form-group > input:hover,
body main > #post-form-area .form-group textarea:focus,
body main > #post-form-area .form-group textarea:hover {
  outline: none;
  border-color: #1d7be6;
  -webkit-box-shadow: 0 0 0 2px rgba(29, 123, 230, 0.3);
          box-shadow: 0 0 0 2px rgba(29, 123, 230, 0.3);
}

body main > #post-form-area button {
  color: white;
  display: block;
  width: 80%;
  height: 40px;
  font-size: 1.2rem;
  border: 1px solid #1d7be6;
  border-radius: 3px;
  margin: 0 auto;
  background-color: #1d7be6;
}

body main > #post-form-area button:hover, body main > #post-form-area button:focus {
  outline: none;
  border-color: #1d7be6;
  -webkit-box-shadow: 0 0 0 2px rgba(29, 123, 230, 0.3);
          box-shadow: 0 0 0 2px rgba(29, 123, 230, 0.3);
}

body main > #posts-list-area {
  width: 100%;
}

body main > #posts-list-area h2 {
  margin-bottom: 0;
}

body main > #posts-list-area > ul {
  padding-left: 0;
}

body main > #posts-list-area > ul > li {
  padding: 0 10px;
  border-top: 1px solid gray;
  list-style: none;
  max-height: 400px;
  overflow-y: hidden;
}

body main > #posts-list-area > ul > li:last-child {
  border-bottom: 1px solid gray;
}

body main > #posts-list-area > ul > li > .list-header {
  position: relative;
}

body main > #posts-list-area > ul > li > .list-header > p.list-user-name {
  font-size: 1.2rem;
  font-weight: bold;
}

body main > #posts-list-area > ul > li > .list-header > p.list-user-name img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: bottom;
}

body main > #posts-list-area > ul > li > .list-header > span.list-user-time {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  font-size: 0.85rem;
  color: gray;
}

body main > #posts-list-area > ul > li .list-content > p.list-user-message {
  padding-left: 15px;
  clear: right;
  font-size: 1rem;
  word-wrap: break-word;
}

body main > #posts-list-area .page-index {
  text-align: center;
}

body footer {
  width: 90%;
  margin: 0 auto;
  color: gray;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  body main {
    width: 100%;
  }
  body main > #post-form-area .form-group > textarea,
  body main > #post-form-area .form-group input {
    width: 90%;
  }
  body main > #posts-list-area > ul > li > .list-header > p.list-user-name {
    margin-bottom: 5px;
  }
  body main > #posts-list-area > ul > li > .list-header > span.list-user-time {
    position: initial;
  }
}
/*# sourceMappingURL=style.css.map */