$defaultColor: black;
$defaultBackgroundColor: rgb(244, 248, 250);
$defaultAnkerColor: rgb(0, 102, 255);
$activeBorder: rgba(0, 102, 255, 0.7);
$mainHeadingBorderColor: rgb(153, 153, 153);
$profileImageWidth: 150px;
$toolsImageWidth: 30px;
$flexibleWidth: 900px;
