$defaultColor: rgb(238, 232, 221);
$defaultBackgroundColor: rgb(30, 30, 32);
$defaultAnkerColor: rgb(51, 173, 255);
$activeBorder: rgba(5, 102, 214, 0.7);
$mainHeadingBorderColor: rgb(100, 100, 100);
$profileImageWidth: 150px;
$toolsImageWidth: 30px;
